* {
    margin: 0;
    padding: 0;
}

body {
    background: #5ce095;
    font-family: Tahoma, Arial, sans-serif;
    line-height: 1.6;
}

.one-post-folded .article-author {
    display: none;
}
.one-post-folded .article-text {
    display: none;
}
.one-post-folded .article-created-date {
    display: none;
}

.article-info {
    font-weight: italic;
}

.article-text {
    font-size: 1.1em;
}

img {
    display: block;  
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 80%;
}
